html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: none;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}

#fixed-menu {
  transition-duration: 1s;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 99999;
}

#fixed-menu.dark {
  background: rgba(0,0,0,.9);
}

#fixed-menu .logo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

#fixed-menu .logo a {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

#fixed-menu .logo a span {
  color: #1fcdff;
}

#fixed-menu .logo a svg {
  width: 35px;
  position: relative;
  top: 3px;
  left: -3px;
}

#nav-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 14px 0;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 3px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon.open span,
#nav-icon:hover span {
  background: #1fcdff;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 0;
}

#menu a:active {
  color: #1fcdff;
}

#menu select {
  display: none;
}

#menu .active a {
  border: 0;
  color: #1fcdff;
}

#menu .active a:focus {
  outline: none;
  border: none;
}

#menu .active a:active {
  outline: none;
  border: none;;
}

#menu .active a:link {
  outline: none;
  border: none;
}

#menu .active a:visited {
  outline: none;
  border: none;
}

#menu li {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-right: 1px solid #000;
  padding-left: 17px;
  padding-right: 16px;
  float: left;
  font-size: 14px;
  color: #fff;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

#menu li:last-child {
  border-right: 0;
  padding-right: 0px;
}

#menu {
  margin-top: 40px;
  float: right;
}

#menu li a {
  color: #fff;
  text-decoration: none;
}

#menu li a:hover {
  border: none;
  outline: none;
  color: #1fcdff;
}

#mobilemenu {
  display: none;
  text-align: center;
  background: rgba(0,0,0,.9);
  width: 100%;
  position: fixed;
  top: 100px;
  z-index: 99999;
}

#mobilemenu.open-nav {
  display: block;
}

#mobilemenu ul,
#mobilemenu ul li {
  list-style-type: none;
  padding: 0;
}

#mobilemenu ul {
  margin: 10px auto 35px;
}

#mobilemenu ul li {
  margin: 10px 0;
}

#mobilemenu a {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

#mobilemenu a:hover {
  color: #fff;
  text-decoration: none;
}

#header-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/header.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  color: #fff;
  text-align: center;
  padding: 100px 0 260px;
}

.header h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 40px auto 60px auto;
  font-size: 70px;
}

@media screen and (max-width: 1199px) {
  #header-section {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  #header-section .row .see-video,
  #header-section .row .call-to-action,
  #network-section .row .call-to-action,
  #crowdfund-section .row .call-to-action,
  #team-section .row .call-to-action,
  #community-section .row .call-to-action {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 50px;
  }
}

@media (max-width: 359px) {
  .header h1 {
    font-size: 40px;
  }
}

.header h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  margin: 60px auto 80px auto;
  font-size: 40px;
}

.header hr {
  border-top: 3px solid #1fcdff;
  width: 50%;
}

#what-is-section h2,
#benefits-section h2,
#technology-section h2,
#network-section h2,
#crowdfund-section h2,
#team-section h2,
#community-section h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  margin: 0;
}

#what-is-section h2,
#technology-section h2,
#crowdfund-section h2 {
  color: #2f2f2f;
}

#benefits-section h2,
#network-section h2,
#team-section h2,
#community-section h2 {
  color: #fff;
}

h2 span {
  color: #1fcdff;
}

#team-section .container.top,
#network-section .container {
  padding-top: 150px;
  padding-bottom: 64px;
}

.see-video {
  background: #fff;
  color: #434343;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 70px;
  border-radius: 5px;
  position: relative;
  transition: .3s ease all;
}

.see-video:hover,
.see-video:focus {
  text-decoration: none;
  background: #1fcdff;
  color: #fff;
}

.call-to-action {
  background: #1fcdff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 70px;
  border-radius: 5px;
  position: relative;
  transition: .3s ease all;
}

.call-to-action:hover,
.call-to-action:focus {
  text-decoration: none;
  background: #fff;
  color: #434343;
}

#network-section .call-to-action,
#crowdfund-section .call-to-action,
#team-section .call-to-action,
#community-section .call-to-action {
  display: block;
  width: 40%;
  margin: 40px auto 0 auto;
  text-align: center;
}

#community-section .call-to-action {
  margin-bottom: 40px;
}

h3 {
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  color: #2f2f2f;
  line-height: 40px;
  margin-bottom: 20px;
}

#what-is-section h4 {
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
}

#what-is-section .what-is-img {
  margin-top: 57px;
  text-align: center;
  margin-bottom: -89px;
  z-index: 10;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#what-is-section .what-is-img img {
  display: inline-block;
}

#benefits-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/benefits.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

#benefits-section:before,
#network-section:before,
#team-section .top:before,
#community-section:before {
  top: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 150px solid white;
  border-right: 3000px solid transparent;
}

#benefits-section:after,
#network-section:after,
#team-section .top:after,
#header-section:after,
#what-is-section .what-is-img:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 150px solid white;
  border-left: 3000px solid transparent;
}

#benefits-section .container {
  padding-top: 150px;
  padding-bottom: 80px;
}

#benefits-section .benefit {
  padding: 30px;
}

#benefits-section h4 {
  margin-top: 17px;
  font-size: 20px;
}

#benefits-section p {
  font-size: 16px;
  margin-top: 12px;
  line-height: 23px;
}

#benefits-section .outer {
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#benefits-section .fa {
  font-family: FontAwesome;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#technology-section img {
  max-height: 100px;
  margin: 50px;
}

@media screen and (max-width: 1199px) {
  #technology-section img {
    max-width: 200px;
    margin: 20px;
  }
}

#technology-section,
#crowdfund-section {
  text-align: center;
}

#technology-section,
#crowdfund-section h4 {
  font-size: 16px;
  color: #2f2f2f;
}

iframe {
  width: 100%;
}

/*
@media (max-width: 767px) {
  #iframe1 {
    height: 302px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #iframe1 {
    height: 302px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  #iframe1 {
    height: 391px;
  }

}

@media (min-width: 1200px) {
  #iframe1 {
    height: 472px;
  }

}

*/

.team {
  text-align: center;
  margin-top: 40px;
}

.team div {
  margin-bottom: 20px;
}

.team img {
  margin: 0 auto;
  width: 200px;
  border: 4px solid #1fcdff;
  border-radius: 200px;
}

.team h4 {
  margin-top: 24px;
  font-size: 28px;
  color: #2f2f2f;
}

.team h5 {
  margin-top: -3px;
  font-size: 16px;
  color: #a9a9a9;
}

.team p {
  margin-top: 12px;
  font-size: 16px;
  color: #666;
  line-height: 24px;
}

.team ul {
  margin-top: 2px;
  padding-left: 0px;
  display: inline-block;
  margin: 0 auto;
}

.team ul li {
  padding: 0 10px;
  float: left;
  list-style: none;
  font-family: FontAwesome;
  font-size: 15px;
}

.team ul li a {
  color: #2f2f2f;
}

.team ul li a:hover {
  color: #1fcdff;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#network-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/network.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#network-section img {
  margin-bottom: 30px;
}

#team-section .top {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/team.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#community-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  background: url(../images/links/community.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#community-section .row {
  margin-top: 160px;
}

#community-section .fa {
  font-size: 18px;
  color: #fff;
}

.soc {
  margin-top: 30px;
  text-align: center;
}

.soc ul {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 0;
}

.soc ul li {
  margin: 0 10px;
  float: left;
  text-align: center;
  text-decoration: none;
  list-style: none;
  position: relative;
}

.soc ul li a {
  width: 52px;
  height: 52px;
  border: 2px solid #fdfdfc;
  border-radius: 50px;
  display: block;
}

.soc ul li a:hover {
  cursor: pointer;
  border: 2px solid #1c1c1c;
  background: #1c1c1c;
}

.soc ul li a span {
  position: absolute;
  width: 18px;
  height: 18px;
  line-height: 18px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
}

#footer-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: #101010;
  padding-bottom: 35px;
  padding-top: 30px;
}

#footer-section ul li {
  height: 16px;
  border-right: 1px solid #343434;
  float: left;
  list-style: none;
}

#footer-section ul li:last-child {
  border-right: none;
}

#footer-section ul li a {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer-section ul li:last-child a {
  padding-right: 0;
}

#footer-section ul li a:hover {
  color: #1fcdff;
}

@media screen and (max-width: 1199px) {
  #nav-icon {
    display: block;
  }

  #fixed-menu {
    background: rgba(0,0,0,.9);
  }

  #menu {
    display: none;
  }
}
