html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: none;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

#fixed-menu {
  transition-duration: 1s;
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding-bottom: 20px;
}

#fixed-menu.dark {
  background: rgba(0,0,0,.9);
  padding-bottom: 0;
}

#fixed-menu .logo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

#fixed-menu .logo a {
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

#fixed-menu .logo a span {
  color: #1fcdff;
}

#fixed-menu .logo a svg {
  width: 35px;
  position: relative;
  top: 3px;
  left: -3px;
}

#nav-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 14px 0;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 3px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon.open span,
#nav-icon:hover span {
  background: #1fcdff;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 0;
}

#menu a:active {
  color: #1fcdff;
}

#menu select {
  display: none;
}

#menu .active a {
  border: 0;
  color: #1fcdff;
}

#menu .active a:focus {
  outline: none;
  border: none;
}

#menu .active a:active {
  outline: none;
  border: none;;
}

#menu .active a:link {
  outline: none;
  border: none;
}

#menu .active a:visited {
  outline: none;
  border: none;
}

#menu li {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border-right: 1px solid #000;
  padding-left: 17px;
  padding-right: 16px;
  float: left;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  color: #fff;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

#menu li:last-child {
  border-right: 0;
  padding-right: 0px;
}

#menu {
  margin-top: 40px;
  float: right;
}

#menu li a {
  color: #fff;
  text-decoration: none;
}

#menu li a:hover {
  border: none;
  outline: none;
  color: #1fcdff;
}

/*mobile menu below*/
#mobilemenu {
  display: none;
}

#mobilemenu ul,
#mobilemenu ul li {
  list-style-type: none;
  padding: 0;
}

#mobilemenu ul {
  margin: 10px auto 35px;
}

#mobilemenu ul li {
  margin: 10px 0;
}

#mobilemenu a {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

#mobilemenu a:hover {
  color: #fff;
  text-decoration: none;
}


#header-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/header.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-section:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 150px solid white;
  border-left: 3000px solid transparent;
}

.header {
  color: #fff;
  text-align: center;
  padding: 100px 0 170px;
}

.header h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 20px auto;
  font-size: 80px;
}

.header h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin: 20px 0;
  font-size: 40px;
}

.header hr {
  border-top: 3px solid #1fcdff;
  width: 50%;
}

.see-video {
  background: #fff;
  color: #434343;
  text-transform: uppercase;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  padding: 10px 70px;
  border-radius: 5px;
  position: relative;
  transition: .3s ease all;
}

.see-video:hover,
.see-video:focus {
  text-decoration: none;
  background: #1fcdff;
  color: #fff;
}

.read-more {
  background: #1fcdff;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  padding: 10px 70px;
  border-radius: 5px;
  position: relative;
  transition: .3s ease all;
}

.read-more:hover,
.read-more:focus {
  text-decoration: none;
  background: #fff;
  color: #434343;
}

.footer .read-more,
#team-section .read-more,
#network-section .read-more {
  display: block;
  width: 40%;
  margin: auto;
  text-align: center;
}

#community-section {
  margin-top: 50px;
}


#what-is-section h2,
#technology-section h2,
#crowdfunding-section h2 {
  font-family: 'Roboto', 'sans-serif';
  color: #2f2f2f;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

#what-is-section h2 span {
  color: #1fcdff;
  font-weight: 700;
}

#what-is-section h3,
#crowdfunding-section h3 {
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

#what-is-section {
  margin-top: 25px;
}

#what-is-section h3 {
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 28px;
}

#what-is-section h4 {
  margin-top: 16px;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}

#what-is-section .what-is-img {
  margin-top: 57px;
  text-align: center;
  margin-bottom: -89px;
  z-index: 10;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#what-is-section .what-is-img:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 150px solid white;
  border-left: 3000px solid transparent;
}

#what-is-section .what-is-img img {
  display: inline-block;
}

#mobilemenu.open-nav {
  display: block;
}

#benefits-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/benefits.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

#benefits-section:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 150px solid white;
  border-left: 3000px solid transparent;
}

#benefits-section:before {
  top: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 194px solid white;
  border-right: 3000px solid transparent;
}

#benefits-section .container {
  margin-bottom: 145px;
  margin-top: 250px;
}

#benefits-section h4 {
  margin-top: 17px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
}

#benefits-section p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
  margin-top: 12px;
  line-height: 23px;
}

#benefits-section .outer {
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  width: 80px;
  height: 80px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#benefits-section .fa {
  font-family: FontAwesome;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

#benefits-section div {
  margin-bottom: 30px;
}

#benefits-section h2 {
  font-family: 'Roboto', 'sans-serif';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
  font-weight: 700;
  margin-top: -10px;
}


#network-section h2,
#team-section h2,
.footer h2 {
  font-family: 'Roboto', 'sans-serif';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
  font-weight: 700;
  margin-top: -10px;
}

#team-section h2 {
  margin: 50px auto 30px;
}

.footer h2 {
  margin-bottom: 0;
}

#technology-section h2,
#crowdfunding-section h2 {
  margin: 40px 0 50px;
}

#technology-section img {
  max-height: 100px;
  margin: 15px 35px;
}

#technology-section,
#crowdfunding-section {
  margin-top: 8px;
  text-align: center;
}

#technology-section,
#crowdfunding-section h3 {
  font-size: 28px;
  color: #2f2f2f;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
}

#technology-section,
#crowdfunding-section h4 {
  margin-top: 15px;
  font-size: 16px;
  color: #2f2f2f;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}

iframe {
  width: 100%;
}

/*
@media (max-width: 767px) {
  #iframe1 {
    height: 302px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #iframe1 {
    height: 302px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  #iframe1 {
    height: 391px;
  }

}

@media (min-width: 1200px) {
  #iframe1 {
    height: 472px;
  }

}

*/

.team {
  text-align: center;
  margin-top: 46px;
}

.team .b1 {
  padding-left: 0;
}

.team .b3 {
  padding-right: 0;
}

.team img {
  margin: 0 auto;
  width: 300px;
  border: 3px solid #1fcdff;
  border-radius: 200px;
}

.team h4 {
  margin-top: 24px;
  font-size: 28px;
  color: #2f2f2f;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}

.team h5 {
  margin-top: -3px;
  font-size: 16px;
  color: #a9a9a9;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}

.team p {
  margin-top: 12px;
  font-size: 16px;
  color: #666;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  line-height: 24px;
}

.team ul {
  margin-top: 2px;
  padding-left: 0px;
  display: inline-block;
  margin: 0 auto;
}

.team ul li {
  padding: 0 10px;
  float: left;
  list-style: none;
  font-family: FontAwesome;
  font-size: 15px;
}

.team ul li a {
  color: #2f2f2f;
}

.team ul li a:hover {
  color: #1fcdff;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#network-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/network.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#network-section:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 150px solid white;
  border-left: 3000px solid transparent;
}

#network-section:before {
  top: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 194px solid white;
  border-right: 3000px solid transparent;
}

#network-section h2, #team-section h2 {
  margin-top: 201px;
  margin-bottom: 133px;
}

/*
@media screen and (min-device-width: 1919px) {   
  #network-section h2, #team-section h2 {
    margin-top: 246px;
    margin-bottom: 164px;
  }

}

*/

#network-section .col-md-6 img {
  max-height: 263px;
}

#network-section .col-md-12 img {
  max-height: 443px;
}

#team-section .top {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: url(../images/links/team.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#team-section .top:after {
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 150px solid white;
  border-left: 3000px solid transparent;
}

#team-section .top:before {
  top: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 194px solid white;
  border-right: 3000px solid transparent;
}

/*
@media (max-width: 533px) {
  #community-section .soc {
    margin-bottom: 80px;
  }

}

*/
#community-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  background: url(../images/links/community.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#community-section:before {
  top: 0;
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 150px solid white;
  border-right: 3000px solid transparent;
}

.footer {
  margin-top: 40px;
  min-height: 435px;
}

.footer h3 {
  margin-top: 159px;
  font-size: 28px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 17px;
}

.footer p {
  font-size: 16px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #fff;
  text-align: center;
}

#community-section .fa {
  font-size: 18px;
  color: #fff;
}

h2 span {
  color: #1fcdff;
}

.soc {
  margin-top: 42px;
  text-align: center;
}

.soc ul {
  margin-left: 24px;
  padding-left: 0;
  display: inline-block;
}

.soc ul li {
  margin-bottom: 20px;
  margin-right: 23px;
  float: left;
  text-align: center;
  text-decoration: none;
  list-style: none;
  position: relative;
}

.soc ul li a {
  width: 52px;
  height: 52px;
  border: 2px solid #fdfdfc;
  border-radius: 50px;
  display: block;
}

.soc ul li a:hover {
  cursor: pointer;
  border: 2px solid #1c1c1c;
  background: #1c1c1c;
}

.soc ul li a span {
  position: absolute;
  width: 18px;
  height: 18px;
  line-height: 18px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
}

#footer-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: #101010;
}

.downLine {
  margin-bottom: 35px;
  margin-top: 30px;
}

.downLine p {
  font-size: 14px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #fff;
}

#downMenu li {
  height: 16px;
  border-right: 1px solid #343434;
  float: left;
  list-style: none;
}

#downMenu li:last-child {
  border-right: none;
}

#downMenu li a {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#downMenu li:last-child a {
  padding-right: 0;
}

#downMenu li a:hover {
  color: #1fcdff;
}

/*responsive*/


@media screen and (max-width: 1199px) {
  .logo a {
    float: left;
  }

  #nav-icon {
    display: block;
  }

  .default {
    background: rgba(0,0,0,.9);
  }

  #menu {
    display: none;
  }

  #network-section h2, #team-section h2 {
    margin-top: 280px;
    margin-bottom: 100px;
  }

  .soc ul li {
    margin-bottom: 20px;
  }

}

/*
@media screen and (max-width: 991px) {
  #network-section h2 {
    margin-top: 30px;
  }

  #technology-section img {
    max-width: 100%;
    margin: 15px auto 0;
    display: block;
  }

  #network-section .col-md-12 img {
    margin: 0 auto 20px;
  }

  .downLine .text-right {
    text-align: center;
  }

  #downMenu {
    float: none;
    padding: 0;
    display: inline-block;
  }

  #downMenu ul li {
    float: none;
    text-align: center;
  }

  #downMenu li a {
    padding: 5px;
  }

  .team ul {
    margin-bottom: 35px;
  }

}

@media (max-width: 580px) {
  .footer .read-more, #team-section .read-more, #network-section .read-more {
    width: 100%;
  }

  .see-video,
  .header .read-more {
    display: block;
    margin-bottom: 20px;
  }

  .header h1 {
    font-size: 50px;
  }

}

@media (max-width: 320px) {
  .header h1 {
    font-size: 45px;
  }

}

*/
